/* $Id: $ */
@charset "UTF-8";
/* CSS Document */

/*defaultTheme starts here*/

.backgroundBg {
	background-color:#f5f5f5;
}

.backgroundSecBg{ 
	margin:0;
	padding:0;
}	
.templateWidth {
	margin:0 auto;
	width:800px;
	/*
		Old forms have backgroundsecbg with padding:30px in custom.css . Now changed padding to templateWidth class.
		Old Users have form width of 800px will change to 740px because of 30px padding on left and right of form.
		Hence to differentiate old and new forms, .newThemeDummyWidth class is used. 
		Any changes in this padding kindly find ".newThemeDummyWidth" and do needful changes.
	*/
	padding:30px; 
}
.topContainer {
	display:none;
}
.btmContainer {
	display:none;
}
.centerContainer {
}
.templateWrapper {
	background:#fff;
	border:1px solid #d6d6d6;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	position: relative;
}
.tempHeadContBdr {
	background: transparent;
	border-bottom:1px solid #EAEAEA;
	margin: 0;
	padding:10px 18px;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
	text-align: left;
}
.tempHeadContBdr .frmTitle {
	position: relative;
	color: #3C3C3C;
	margin: 0;
	padding: 0;
	font-size:2em;
}
.tempHeadContBdr .frmDesc {
	position: relative;
	color: #525252;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.tempFrmWrapper .labelName {
	font-weight:bold;
	font-size:13px;
	color:#444;
	position: relative;
}

.tempContDiv{ position: relative; }

.tempContDiv input[type="text"], .tempContDiv textarea, .tempContDiv .pdfTextArea {
	background:#fff;	
	border:1px solid #e5e5e5;	
	-webkit-border-radius:2px; 	
	-moz-border-radius:2px;	
	border-radius:2px;	
	padding:5px;
	font-size:13px;	
}

.subContWrap {
	padding:10px;
	margin-bottom:0;
	overflow: hidden;
}

.phone .tempContDiv label, .date .tempContDiv label, .time .tempContDiv label, .address .tempContDiv label, .name .tempContDiv span label {
	color:#888888;
}

.date .tempContDiv .calendarIcon{ margin-top:5px;}

.fmFooter {	
	text-align:center;
	overflow:hidden;
}

.fmSmtButton {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding:5px 15px;
	font-weight:400;
	font:13px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Arimo,Helvetica,sans-serif;
	}
	
.submitColor{
	color: #fff;
	border:1px solid;
	border-color: #1988D6;
	background: #1988d6;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);
	}


.saveColor, .reviewBtn{
	color: #fff;
	border:1px solid;
	border-color: #1988D6;
	background: #1988d6;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);
}


.cancelColor {
	color: #444;
	border: solid 1px #ccc;
	background: #eaeaea;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
	background: -moz-linear-gradient(top,  #FFFFFF,  #F4F4F4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 2px #fff inset;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	text-shadow:0px 2px 0px #fff;
	}
	
.cancelColor:hover{
	border: 1px solid #aaa;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
	background: -moz-linear-gradient(top,  #FFFFFF,  #F4F4F4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
	}
		
.brandingContainer {
	text-align: right;
	color:#666;
	border-top:1px dashed #ccc;
	margin-top:10px;
	padding:15px;
	}
	
.form_sBox .customArrow{right:3px;top:4px;}

.form_sBox select{ padding-top:5px; padding-bottom:5px; padding-right:25px; -webkit-appearance: none;-moz-appearance: none;}	

/* IE6, IE7, IE8, but also IE9 */

.form_sBox select{ padding:2px 3px 4px 3px\9;}
.time .form_sBox select{ padding:2px 3px 4px 3px\9;}    


.formRelative, .tempHeadBdr  .formLogo, .fmFooter .btnAllign, .submitColor em, .submitColor span, .saveColor em, .saveColor span{
	position: relative;
}

.reviewBtn em, .reviewBtn span{
	position: relative;
}

.inlineBlock {
	display: inline-block;
}
.formPageHeader h2{
	position: relative;
}

.fmFooter{
	position: relative;
}

.next_previous{
 position: relative;
}

.next_previous em{
 position: relative;
}


.pBarWrapper .selected em.pNumber{color:#fff; border:2px solid rgba(255,255,255,0);}

.pBarWrapper .selected .pBar, .pBarWrapper .selected em.pNumber b{ background:#1abc9c;}
.pBarWrapper .currentPTab em.pNumber{color:#fff; border:2px solid #1abc9c;}

.bar .currentPTab .pArrow{ border-color:#1abc9c transparent;}


.next_previous{ 
	background: #bdc3c7 none repeat scroll 0 0;
	border: 1px solid #bdc3c7;
	color:#222;
	padding: 5px 15px;
	font-size: 13px;
	min-width: 75px;
}

.enableTrans .backgroundBg, .enableTrans .backgroundSecBg, .enableTrans .templateWrapper, .enableTrans .tempHeadBdr,
.enableTrans .formLogo img, .enableTrans .tempHeadContBdr, .enableTrans .tempHeadContBdr .frmTitle, .enableTrans .tempHeadContBdr .frmDesc,
.enableTrans .formLogo, .enableTrans .subContWrap, .enableTrans .alignSubmit, .enableTrans .submitWrapper, .enableTrans .submitColor{
	transition-duration:0.5s;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration:0.5s;
}

.tempSubfrmWrapper .slider{ overflow: inherit !important; }

.tempSubfrmWrapper{
	background:transparent;
}

.subformBgWrap {
	position: relative;
	background:#f9f9f9;
}